/* Landing Page */
.hero_main_wrap {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero_main_image {
    object-fit: cover;
    z-index: -1;
}

.hero_main_contain {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.hero_main_content {
    width: 100%;
    max-width: 60rem;
    margin-inline: auto;
}

.hero_title_group {
    display: flex;
    align-items: center;
    gap: var(--_spacing---space--6);
}

.hero_main_logo {
    width: clamp(4rem, 20vw, 12rem);
    height: auto;
    color: var(--swatch--brand-500);
}

.hero_main_divider {
    width: 100%;
    height: 2px;
    margin-block: var(--_spacing---space--6);
    background-color: var(--swatch--light-200);
}

.hero_nav_wrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.hero_nav_title {
    margin-bottom: var(--_spacing---space--3);
}

.hero_nav_list {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: var(--_spacing---space--2);
}

.hero_nav_link {
    font-style: italic;
    text-decoration: none;
    color: var(--swatch--light-200);
    padding-block: var(--_spacing---space--1);
    padding-inline: var(--_spacing---space--2);
    transition: color 0.3s ease;
}

.hero_nav_link:hover {
    color: var(--swatch--brand-500);
}

/* Architecture Page */
.projects_main_divider {
    width: 100%;
    height: 2px;
    margin-block: var(--_spacing---section-space--main);
    background-color: var(--swatch--light-200);
}

.projects_item_column {
    position: relative;
    place-self: center;
    text-align: center;
}

.projects_item_column.is-reversed {
    order: 1;
}

.projects_item_column.has-image {
    border-radius: var(--radius--small);
    overflow: hidden;
    cursor: pointer;
}

.projects_item_image {
    transition: transform 0.3s ease-in-out;
}

.projects_item_overlay {
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    inset: 0;

    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}

.projects_item_icon {
    width: 2rem;
    height: 2rem;
    color: var(--_theme---heading);
    transform: translateY(20px);
    transition: transform 0.3s ease-in-out;
}

@media (hover: hover) {
    .projects_item_column.has-image:hover {
        & .projects_item_image {
            background: rgba(0, 0, 0, 0.5);
            transform: scale(1.05);
        }

        & .projects_item_overlay {
            opacity: 1;
        }

        & .projects_item_icon {
            transform: translateY(0);
        }
    }
}

@media (hover: none) {
    .projects_item_column.has-image {
        & .projects_item_image {
            background: rgba(0, 0, 0, 0.5);
        }

        & .projects_item_overlay {
            opacity: 1;
        }

        & .projects_item_icon {
            transform: translateY(0);
        }
    }
}

.projects_item_number {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: var(--_spacing---space--4);
    margin-bottom: var(--_spacing---space--2);
}

.projects_item_title {
    text-wrap: pretty;
    text-decoration: underline 1px;
    margin-bottom: var(--_spacing---space--2);
}

.projects_item_text {
    text-wrap: balance;
    margin-bottom: var(--_spacing---space--4);
}

/* Project Page */
.project_page_wrap {
    min-height: 100vh;
}

.project_page_contain {
    place-content: center;
}

.project_page_layout {
    row-gap: var(--_spacing---space--8);
}

.project_content_wrap {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: var(--_spacing---section-space--main);
}

.project_content_contain {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.project_content_contain.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition-delay: 0.25s;
}

.project_content_title {
    text-wrap: pretty;
    margin-top: var(--_spacing---space--1);
    margin-bottom: var(--_spacing---space--4);
}

.project_slider_wrap {
    display: flex;
    flex-flow: column;
    gap: var(--_spacing---space--6);
    overflow: hidden;
}

.project_slider_contain {
    display: flex;
    gap: var(--_spacing---space--4);
    width: 100%;
    will-change: transform;
    transition: transform var(--transition-speed) var(--ease-out-expo);
}

.project_slider_item {
    position: relative;
    flex: 0 0 70%;
    aspect-ratio: 16/10;
    overflow: hidden;
}

.project_slider_image {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: var(--radius--small);
    object-fit: cover;
    transition: transform var(--transition-speed) var(--ease-out-expo);
}

.slider_controls_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.slider_controls_navigation {
    display: flex;
    gap: var(--_spacing---space--4);
}

.slider_controls_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border: none;
    border-radius: var(--radius--round);
    color: var(--swatch--dark-800);
    background-color: var(--swatch--light-100);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.slider_controls_button:hover:not(:disabled) {
    color: var(--swatch--light-100);
    background-color: var(--swatch--brand-500);
}

.slider_controls_button:disabled {
    opacity: 0.3;
    cursor: default;
}

.slider_pagination_wrap {
    display: flex;
    gap: var(--_spacing---space--2);
}

.slider_pagination_dot {
    width: 0.5em;
    height: 0.5em;
    border-radius: var(--radius--round);
    background-color: var(--swatch--light-200);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.slider_pagination_dot:hover {
    transform: scale(1.2);
}

.slider_pagination_dot.is-active {
    width: 1.5em;
    background-color: var(--swatch--brand-500);
}

/* Spatial Visualization */
.visual_gallery_wrap {
    padding-top: var(--_spacing---space--1);
    padding-bottom: var(--_spacing---section-space--main);
}

.visual_gallery_contain {
    container-name: visual-gallery;
}

.visual_gallery_layout {
    display: block;
    column-count: 3;
    column-gap: var(--_spacing---space--1);
}

.visual_gallery_image {
    display: block;
    width: 100%;
    break-inside: avoid;
    margin-bottom: var(--_spacing---space--1);
    object-fit: cover;
}