.u-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.u-section {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    color: var(--_theme---text);
    background-color: var(--_theme---background);
}

.u-container {
    position: relative;
    flex: 1;
    max-width: var(--max-width--main);
    width: calc(100% - var(--site--margin) * 2);
    margin-inline: auto;
    container-type: inline-size;
    container-name: threshold-large;
    z-index: 1;
}

.u-container-full {
    z-index: 1;
    max-width: var(--max-width--full);
    width: calc(100% - var(--_spacing---space--1) * 2);
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    container-type: inline-size;
    container-name: threshold-large;
}

.u-background-2 {
    background-color: var(--_theme---background-2);
}

.u-theme-light {
    color: var(--_theme---text);
    background-color: var(--_theme---background);
    --_theme---background: var(--swatch--light-100);
    --_theme---background-2: var(--swatch--light-200);
    --_theme---text: var(--swatch--dark-800);
    --_theme---heading: var(--swatch--dark-900);
}

.u-theme-dark {
    color: var(--_theme---text);
    background-color: var(--_theme---background);
    --_theme---background: var(--swatch--dark-800);
    --_theme---background-2: var(--swatch--dark-900);
    --_theme---text: var(--swatch--light-200);
    --_theme---heading: var(--swatch--light-100);
}

.u-text-style-main {
    font-family: var(--_typography---font--primary-family);
    font-size: var(--_typography---font-size--text-main);
    font-weight: var(--_typography---font--primary-regular);
    line-height: var(--_typography---line-height--primary);
    color: var(--_theme---text);
}

.u-text-style-large {
    font-family: var(--_typography---font--primary-family);
    font-size: var(--_typography---font-size--text-large);
    font-weight: var(--_typography---font--primary-regular);
    line-height: var(--_typography---line-height--primary);
    color: var(--_theme---text);
}

.u-text-style-h4 {
    font-family: var(--_typography---font--secondary-family);
    font-size: var(--_typography---font-size--h4);
    font-weight: var(--_typography---font--secondary-regular);
    line-height: var(--_typography---line-height--secondary);
    -webkit-font-feature-settings: "ss01"1;
    font-feature-settings: "ss01"1;
    color: var(--_theme---heading);
}

.u-text-style-h3 {
    font-family: var(--_typography---font--secondary-family);
    font-size: var(--_typography---font-size--h3);
    font-weight: var(--_typography---font--secondary-regular);
    line-height: var(--_typography---line-height--secondary);
    -webkit-font-feature-settings: "ss01"1;
    font-feature-settings: "ss01"1;
    color: var(--_theme---heading);
}

.u-text-style-h2 {
    font-family: var(--_typography---font--secondary-family);
    font-size: var(--_typography---font-size--h2);
    font-weight: var(--_typography---font--secondary-regular);
    line-height: var(--_typography---line-height--secondary);
    -webkit-font-feature-settings: "ss01"1;
    font-feature-settings: "ss01"1;
    color: var(--_theme---heading);
}

.u-text-style-h1 {
    font-family: var(--_typography---font--secondary-family);
    font-size: var(--_typography---font-size--h1);
    font-weight: var(--_typography---font--secondary-regular);
    line-height: var(--_typography---line-height--secondary);
    -webkit-font-feature-settings: "ss01"1;
    font-feature-settings: "ss01"1;
    color: var(--_theme---heading);
}

.u-text-style-display {
    font-family: var(--_typography---font--secondary-family);
    font-size: var(--_typography---font-size--display);
    font-weight: var(--_typography---font--secondary-regular);
    line-height: var(--_typography---line-height--secondary);
    -webkit-font-feature-settings: "ss01"1;
    font-feature-settings: "ss01"1;
    color: var(--_theme---heading);
}

.u-text-center {
    text-align: center;
}

.u-text-underline {
    text-decoration: underline 3px var(--swatch--brand-500);
}

.u-text-brand {
    color: var(--swatch--brand-500);
}

.u-justify-center {
    justify-content: center;
}

.u-cover-absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0%;
}

.u-grid-above,
.u-grid-below {
    display: grid;
    grid-column-gap: var(--site--gutter);
    grid-row-gap: var(--site--gutter);
    grid-template-rows: auto;
    grid-auto-columns: minmax(0, 1fr);
    grid-template-columns: repeat(var(--_column-count---value), minmax(0, 1fr));
    flex-flow: column;
}

.u-grid-autofill {
    display: grid;
    --_gap---size: var(--site--gutter);
    grid-column-gap: var(--_gap---size);
    grid-row-gap: var(--_gap---size);
    grid-template-rows: auto;
    grid-auto-columns: minmax(0, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(min(max(8rem, (100% - ((var(--_column-count---value) - 1) * var(--_gap---size))) / var(--_column-count---value)), 100%), 1fr));
}

.u-column-1 {
    grid-column-end: span 1;
}

.u-column-2 {
    grid-column-end: span 2;
}

.u-column-3 {
    grid-column-end: span 3;
}

.u-column-4 {
    grid-column-end: span 4;
}

.u-column-5 {
    grid-column-end: span 5;
}

.u-column-6 {
    grid-column-end: span 6;
}

.u-column-7 {
    grid-column-end: span 7;
}

.u-column-8 {
    grid-column-end: span 8;
}

.u-column-9 {
    grid-column-end: span 9;
}

.u-column-10 {
    grid-column-end: span 10;
}

.u-column-11 {
    grid-column-end: span 11;
}

.u-column-12 {
    grid-column-end: span 12;
}

.u-threshold-large {
    container-name: threshold-large;
}

.u-threshold-medium {
    container-name: threshold-medium;
}

.u-threshold-small {
    container-name: threshold-small;
}

.u-primary-input {
    background: transparent;
    border: 1.5px solid var(--swatch--light-100);
    padding-inline: var(--_spacing---space--3);
    padding-block: var(--_spacing---space--3) var(--_spacing---space--2);
    color: var(--swatch--light-100);
}

.u-primary-input::placeholder {
    color: var(--swatch--light-200);
}

.u-primary-button {
    display: inline-flex;
    background-color: var(--swatch--brand-500);
    border: 1.5px solid var(--swatch--brand-500);
    padding-inline: var(--_spacing---space--4);
    padding-block: var(--_spacing---space--3) var(--_spacing---space--2);
    color: var(--swatch--light-100);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.u-primary-button:hover {
    background-color: var(--swatch--brand-700);
}

.u-svg {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}